{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	{% stylesheets filter="compass"
		'@OpenGestiaBundle/Resources/public/css/login.scss'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	{% if error %}
	{{ error.message }}
	{% endif %}
	<div id="login_form_div">
		<div id="logo_secretaria"></div>
		<form id="login_form" name="login_form" action="{{ path('_login_check') }}" method="post">
			<div id="username_div">
				<input name="_username" type="text" id="username" value="{{ last_username }}" placeholder="Usuario" />
			</div>
			<div id="password_div">
				<input name="_password" type="password" id="password" placeholder="Contraseña"/>
			</div>
			<div id="boton_login_div">
				<input type="submit" id="boton_login" value="{{ "Acceder" | trans }}" />
			</div>
		</form>
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}