{% extends '::base.html.twig' %}

{% block body %}
	<form action="{{ path('ninyo_edit', {'id': formulario.get('value').id}) }}" method="POST">
		{% include 'OpenGestiaBundle:Ninyo:form_table.html.twig' %}
	</form>
{% endblock %}
