{% extends '::base.html.twig' %}

{% block body %}

{% set parametro_duplicidad = '' %}

{% if duplicidad %}
	{% set parametro_duplicidad = '?duplicidad=true' %}
{% endif %}

{% if app.session.hasFlash('warning') %}
    <div class="flash-notice duplicity_warning">
        {{ app.session.flash('warning') }}
    </div>
{% endif %}

<form action="{{ path('ninyo_new') }}{{ parametro_duplicidad }}" method="POST">
	{% include 'OpenGestiaBundle:Ninyo:form_table.html.twig' %}
</form>
{% endblock %}
