{% extends '::base.html.twig' %}

{% block listado_campos %}
var dataFields = [
	{% for campo in campos_disponibles %}
		{% if campo in app.user.configuracion.campos['educadores'] %}
			{% set url = path('educador_eliminar_campo', {'campo' : campo}) %}
			{% set status = 'active' %}
		{% else %}
			{% set url = path('educador_anyadir_campo', {'campo' : campo}) %}
			{% set status = 'inactive' %}
		{% endif %}
		{
			text: '{{ ('listado.campos.' ~ campo) | trans }}',
			url: '{{ url }}',
			status: '{{ status }}',
			campo: '{{ campo }}'
		},
	{% endfor %}
];
{% endblock %}

{% block menu %}
	{% include 'OpenGestiaBundle:Default:menu_seccion.html.twig' with {'active_section' : 'educadores'} %}
{% endblock %}

{% block action_buttons %}
	<a href="{{ url('educador_new') }}" id="btn_alta" class="btn ajax_link">Alta</a>

	<ul class="nav" role="navigation">
		<li class="dropdown">
			<a href="#" id="btn_baja" role="button" class="dropdown-toggle btn" data-toggle="dropdown"><b class="caret"></b>Baja</a>
			<ul class="dropdown-menu menu-bajas" role="menu" aria-labelledby="drop2">
				<li role="presentation"><a class="menuitem educador baja_temporal_simultanea" tabindex="-1" href="#">Temporal</a></li>
				<li role="presentation"><a class="menuitem educador baja_definitiva_simultanea" tabindex="-1" href="#">Definitiva</a></li>
			</ul>
		</li>
	</ul>
{% endblock %}

{% block list_name %}Educadores{% endblock %}

{% block body %}
	<table class="sortable-table">
		<thead>
			<tr>
				<th></th>
				{% for campo in app.user.configuracion.campos['educadores'] %}
					{% set nombre_campo = 'listado.campos.' ~ campo %}
					<th class="campo-{{ campo }}">{{ nombre_campo | trans }}</th>
				{% endfor %}
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for educador in educadores %}
				<tr class="educador">
					<td>
						<input name="select_item[]" type="checkbox" value="{{ educador.id }}" />
					</td>
					{% for campo in app.user.configuracion.campos['educadores'] %}
						{% if campo == 'fechaNacimiento' %}
						<td>{{ educador.fechaNacimiento | date('d-m-Y') }}</td>
						{% else %}
						<td>{{ attribute(educador, campo) }}</td>
						{% endif %}
					{% endfor %}
					<td><a class="ajax_link" href="{{ path('educador_edit', {'id': educador.id})}}">Ficha</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
