{% include 'OpenGestiaBundle:Persona:edit.html.twig' %}

<div class="ficha ficha-educador">
	<form action="{{ app.request.uri }}" method="POST">
		{% include 'OpenGestiaBundle:Persona:form_table.html.twig' %}
	</form>
</div>

<script>
	$("#modal").dialog("option", "title", "Nuevo educador");
</script>