<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Open Gestia{% endblock %}</title>
		{#'http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'#}
        {% block stylesheets %}
			{% stylesheets filter="cssrewrite"
				'@OpenGestiaBundle/Resources/public/css/bootstrap.css'
				'@OpenGestiaBundle/Resources/public/css/bootstrap-responsive.css'
				'@OpenGestiaBundle/Resources/public/css/jquery.dataTables.css'
				%}
				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
			{% endstylesheets %}

			<link rel="stylesheet" href="{{ asset('/bundles/opengestia/css/demo_table.css') }}" type="text/css" />

			{% stylesheets filter="compass"
				'@OpenGestiaBundle/Resources/public/css/style.scss'
				%}
				<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
			{% endstylesheets %}

		{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('/bundles/opengestia/images/favicon.ico') }}" />
		<link rel="apple-touch-icon" href="{{ asset('/bundles/opengestia/images/touch-icon.png') }}" />
    </head>
    <body>

		{% if app.user != null %}
			<div id="logo">
				<img width="200px" src="{{ asset('bundles/opengestia/images/secretaria_virtual.svg') }}" />
			</div>
			{% include 'OpenGestiaBundle:Default:secciones.html.twig' %}

			{% block menu %}
				{% include 'OpenGestiaBundle:Default:menu_seccion.html.twig' %}
			{% endblock %}
		{% endif %}


		<div id="content">
			{% block content %}
				<div id="actions">
					{% block action_buttons %}{% endblock %}

					<div id="listado-campos">
					</div>
				</div>

				<div id="list_name">
					<h1>{% block list_name %}{% endblock %}</h1>
				</div>

				{% block body %}{% endblock %}
				<div id="modal">
				</div>
				<div style="clear:both;"></div>
				<footer>
					<img src="{{ asset('bundles/opengestia/images/logo_footer.svg') }}" />
				</footer>
			{% endblock %}
		</div>
        {% block javascripts %}
			{% javascripts
				'@OpenGestiaBundle/Resources/public/js/jquery.js'
				'@OpenGestiaBundle/Resources/public/js/jquery.dataTables.js'
				'http://code.jquery.com/ui/1.9.2/jquery-ui.js'
				'@OpenGestiaBundle/Resources/public/js/underscore.js'
				'@OpenGestiaBundle/Resources/public/js/bootstrap.js'
				%}
				<script type="text/javascript" language="javascript"  src="{{ asset_url }}"></script>
			{% endjavascripts %}

			<script type="text/javascript" language="javascript"  charset="utf-8">
				(function ($) {
					$.fn.prettydd = function (options) {
						var settings = $.extend({}, options);

						var parent = $(this);
						var items = [];
						var isMenuDroppedDown = false;


						parent.append('<span>Añadir campo</span>');
						parent.append('<ul></ul>');

						var elementsToInsert = '';

						_.each(settings.data, function(element, key, list){
							var linkId = '';
							if(element.status === 'active') {
								linkId += 'eliminar';
							} else {
								linkId += 'anyadir';
							}

							linkId += '-campo-' + element.campo;

							elementsToInsert += '<li class="'+ element.status +'"><a id="' + linkId + '" href="' + element.url + '">'+ element.text +'</a></li>';
						});
						parent.find('ul').append(elementsToInsert);

						items = $(this).find('ul > li');

						hide();

						parent.hover(dropDown, hide);

						function dropDown(){
							parent.find('ul').show();
							$(items).show();

							isMenuDroppedDown = true;
							addMenuClass(isMenuDroppedDown);
						}

						function hide(){
							parent.find('ul').hide();
							$(items).hide();
							isMenuDroppedDown = false;
							addMenuClass(isMenuDroppedDown);
						}

						function addMenuClass(isMenuDroppedDown) {
							if(isMenuDroppedDown === true) {
								cssClass = 'dropped-down';
								parent.removeClass('dropped-up');
								parent.addClass(cssClass);
							} else {
								cssClass = 'dropped-up';
								parent.removeClass('dropped-down');
								parent.addClass(cssClass);
							}
						}
					};
				})(jQuery);


				var asInitVals = new Array();
				var dataFields = {};

				$(document).ready(function() {
					{% block listado_campos %}{% endblock %}

					$('#listado-campos').prettydd({data: dataFields});

					var oTable = $('.sortable-table').dataTable({
						"aaSorting": [[ 1, "desc" ]],
						"iDisplayLength": 50,
						"oLanguage": {
							"sEmptyTable":     "No hay datos disponibles",
							"sInfo":           "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
							"sInfoEmpty":      "Mostrando desde 0 hasta 0 de 0 registros",
							"sInfoFiltered":   "(filtrado de _MAX_ registros en total)",
							"sInfoPostFix":    "",
							"sInfoThousands":  ",",
							"sLengthMenu":     "Mostrar _MENU_ registros",
							"sLoadingRecords": "Cargando...",
							"sProcessing":     "Procesando...",
							"sSearch":         "Buscar",
							"sZeroRecords":    "No se encontraron resultados",
							"oPaginate": {
								"sFirst":    "Primero",
								"sLast":     "Último",
								"sNext":     "Siguiente",
								"sPrevious": "Anterior"
							},
							"oAria": {
								"sSortAscending":  ": activar para Ordenar Ascendentemente",
								"sSortDescending": ": activar para Ordendar Descendentemente"
							}
						},
						"fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull) {
							var settings = this.fnSettings();
							var str = settings.oPreviousSearch.sSearch;

							var regex = new RegExp( str, 'gi');

							$('td:not(:last)', nRow).each( function(i) {
								this.innerHTML = aData[i].replace( regex, function(matched) {
									if(matched)
										return "<span class='txt-found'>"+matched+"</span>";
									else
										return matched;
								});
							});
							return nRow;
						}
					});

					$("tfoot input").keyup( function () {
						/* Filter on the column (the index) of this element */
						oTable.fnFilter( this.value, $("tfoot input").index(this) );
					} );

					/*
					 * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
					 * the footer
					 */
					$("tfoot input").each(function(i) {
						asInitVals[i] = this.value;
					} );

					$("tfoot input").focus(function() {
						if ( this.className == "search_init" ) {
							this.className = "";
							this.value = "";
						}
					});

					$("tfoot input").blur(function(i) {
						if ( this.value == "" ) {
							this.className = "search_init";
							this.value = asInitVals[$("tfoot input").index(this)];
						}
					});
					$().ready(function(){
						$( "#modal" ).dialog({
							title: 'Ficha',
							resizable: false,
							autoOpen: false,
							height: 600,
							width: 700,
							modal: true
						});

						$('.ajax_link').on('click', function(e){
							e.preventDefault();

							var url = $(this).attr('href');

							$.ajax({
								url: url,
								success: function(data){
									$("#modal").html(data);
									$("#modal").dialog('open');
								}
							});
						});
						$('.dropdown-toggle').dropdown();

						$('.menu-bajas .menuitem').on('click', function(e){
							e.preventDefault();

							var selectedItems = $('input[name="select_item[]"]:checked');

							var selectedItemsIds = [];
							selectedItems.each(function(index, element) {
								selectedItemsIds.push($(element).val());
							});

							var tipoBaja = obtenerObjetoTipoBaja($(this));

							var url_baja = seleccionarUrlBajas(tipoBaja);
							var url_retorno = seleccionarUrlRetorno(tipoBaja.persona);


							console.debug(url_baja);
							$.ajax({
								url: url_baja,
								method: 'delete',
								data: {ids: selectedItemsIds.join(",")},
								success: function(data){
									window.location = url_retorno;
								}
							});
						})

						function obtenerObjetoTipoBaja(elemento) {
							var tipos = {
								persona: 'ninyo',
								baja: 'temporal'
							};

							if ($(elemento).hasClass('educador')) {
								tipos.persona = 'educador';
							}

							if ($(elemento).hasClass('baja_definitiva_simultanea')) {
								tipos.baja = 'definitiva';
							}

							return tipos;
						};

						function seleccionarUrlBajas(tipos) {
							var url;

							if (tipos.persona === 'educador') {
								if (tipos.baja === 'definitiva') {
									url = "{{ url('educador_bajas_definitivas_simultaneas') }}";
								} else {
									url = "{{ url('educador_bajas_simultaneas') }}";
								}
							} else {
								if (tipos.baja === 'definitiva') {
									url = "{{ url('ninyo_bajas_definitivas_simultaneas') }}";
								} else {
									url = "{{ url('ninyo_bajas_simultaneas') }}";
								}
							}

							return url;
						};

						function seleccionarUrlRetorno(tipoPersona) {
							var url = '{{ url('ninyo_index') }}';

							if (tipoPersona === 'educador') {
								url = '{{ url('educador_index') }}';
							}

							return url;
						};



						/*$('.baja_definitiva_simultanea').on('click', function(e){
							e.preventDefault();

							var selectedItems = $('input[name="select_item[]"]:checked');

							var selectedItemsIds = [];
							selectedItems.each(function(index, element) {
								selectedItemsIds.push($(element).val());
							});

							var baja_definitiva_educadores_url = "{{ url('educador_bajas_definitivas_simultaneas') }}";

							$.ajax({
								url: baja_definitiva_educadores_url,
								method: 'delete',
								data: {ids: selectedItemsIds.join(",")},
								success: function(data){
									window.location = "";
								}
							});
						})*/
					});
				});
			</script>
        {% endblock %}
    </body>
</html>
