{% extends '::base.html.twig' %}

{% block body %}
<form action="{{ path('buscar_persona') }}" method="POST">
	<table>
		<tr>
			<td colspan="2">
				{{ form_errors(formulario) }}
			</td>
		</tr>
		{% for key, field in formulario %}
			{% if key != '_token' %}
				<tr>
					<td colspan="2">
						{% if form_errors(field) | length > 0 %}
							<div class="error error-{{ key }}">
							{{ form_errors(field) }}
							</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>{{ form_label(field) }}</td>
					<td>{{ form_widget(field) }}</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	{{ form_rest(formulario)}}
	<input type="submit" value="Buscar" />
</form>
{% endblock %}
