{% extends '::base.html.twig' %}

{% block body %}

{% if app.session.hasFlash('notice') %}
<div class="flash-notice">
	{{ app.session.flash('notice') }}
</div>
{% endif %}

<table class="sortable-table">
	<thead>
	<tr>
		<th class="campo-nombre">Nombre</th>
		<th class="campo-apellidos">Apellidos</th>
		<th class="campo-poblacion">Población</th>
		<th class="campo-tipo">Tipo</th>

		<th>Acciones</th>
	</tr>
	</thead>
	<tbody>
	{% for persona in personas %}
	<tr class="persona">
		<td>{{ persona.nombre }}</td>
		<td>{{ persona.apellidos }}</td>
		<td>{{ persona.poblacion }}</td>
		<td>{{ persona.tipoPersona | capitalize }}</td>
		<td></td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
