@import "compass";

#content {
    text-align: center;
    background: none;
}

#login_form_div {
  width: 450px;
  height: 400px;
  margin: auto;
  background: url(/bundles/opengestia/images/bkg_login_div.svg) no-repeat;
  background-size: 450px 350px;
  padding-top: 50px;
}

#logo_secretaria{
  width: 300px;
  height: 150px;
  margin: auto;
  background: url(/bundles/opengestia/images/secretaria_virtual.svg) no-repeat;
  background-size: 100%;
}

#username_div input{
}

#username, #password {
    width: 220px;
    padding: 0px 10px 0px 10px;
    border:solid 2px #003333;

  color: #00894b;
    @include border-radius(75px, 75px);
}

#boton_login_div{
  text-align: right;
  margin-right: 128px;
}

#boton_login {
  width: 120px;
  height: 21px;
  border: 0px;
  background: #00894b;
  color: #fff;
  @include border-radius(10px, 10px);
}

input:focus {
    outline: none;
}

#login_form_div {

}