{#<form action="{{ path('grupo_new') }}" method="POST">#}
	{#<table>#}
		{#<tr>#}
			{#<td colspan="2">#}
				{#{{ form_errors(formulario) }}#}
			{#</td>#}
		{#</tr>#}
		{#{% for key, field in formulario %}#}
		{#{% if key != '_token' %}#}
		{#<tr>#}
			{#<td colspan="2">#}
				{#{% if form_errors(field) | length > 0 %}#}
				{#<div class="error error-{{ key }}">#}
					{#{{ form_errors(field) }}#}
				{#</div>#}
				{#{% endif %}#}
			{#</td>#}
		{#</tr>#}
		{#<tr>#}
			{#<td>{{ form_label(field) }}</td>#}
			{#<td>{{ form_widget(field) }}</td>#}
		{#</tr>#}
		{#{% endif %}#}
		{#{% endfor %}#}
	{#</table>#}
	{#{{ form_rest(formulario)}}#}
	{#<input type="submit" value="Guardar" />#}
{#</form>#}

{% include 'OpenGestiaBundle:Persona:edit.html.twig' %}

<div class="ficha ficha-grupo">
	<form action="{{ app.request.uri }}" method="POST">
		{% include 'OpenGestiaBundle:Persona:form_table.html.twig' %}
	</form>
</div>

<script>
	$("#modal").dialog("option", "title", "Nuevo grupo");
</script>